.navbar{background-color: #686868; border: 2px solid #000;}
ul{background-color: #fff;}
h1{margin-top: 0px;color: #000; }
.navbar-default{border-radius: 0;}
h2, h3{	font-weight: bold;	text-align: center;}
.col-md-12,.col-sm-12,.col-xs-12{background-color: #686868; }
.navbar-default .navbar-nav>li>a{color: #000; text-align: center;background-color: #fff;}
.nav>li{border: 2px solid #000;}
.navbar-default .navbar-toggle { border-color: #000; }
.navbar-default .navbar-toggle:focus{border-color: #ddd;}
.navbar-default .navbar-toggle .icon-bar { background-color: #000; }
.col-xs-12 {
	float: none;
	width: 70%;
    position: relative;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}